<div id="app">
    <div class="text-h6">Welcome</div>
</div>

@section code{
<script>
    var option = {
        //data
        data() {
            return {
                //your data go here
            };
        }
        ,
        //methods
        methods: {

        }
        ,
        //computed
        computed: {

        }
        ,
        //created
        created() {

        }
        ,
        //mounted
        mounted() {

        }

    };

    const app = Vue.createApp(option);
    app.use(Quasar)
    app.mount('#app')
</script>
}